.blue {
    border: 2px solid blue;
}

.green {
    border: 2px solid green;
}

.orange {
    border: 2px solid orange;
}

.red {
    border: 2px solid red;
}

.info-box {
    width: 450px;
    height: 400px;
    margin: 0 auto;
}

.info-box ul {
    padding-left: 0;
    margin-top: 0;
}

.info-box li {
  float: left;
  list-style-type: none;
  width: 150px;
}

.info-box li a {
  display: inline-block;
  text-decoration: none;
  width: 100%;
  line-height: 3;
  background-color: rgb(139, 0, 173);
  color: black;
  text-align: center;
}

.info-box li a:focus,
.info-box li a:hover {
  background-color: rgb(113, 0, 141);
  color: white;
}

.info-box li a.active {
  background-color: rgb(95, 0, 119);
  color: white;
}

.info-box .panels {
  height: 352px;
  position: relative;
  clear: both;
}

.info-box article {
  position: absolute;
  top: 0;
  left: 0;
  height: 352px;
  width: 450px;
  padding: 10px;
  color: black;
  background-color: white;
}

.info-box .active-panel {
  z-index: 1;
}